.logo {
  width: 80px;
  height: 23px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  color: gray;
}

.header-navlist {
  display: flex;
  font-weight: 200;
  list-style: none;
}

.header-nav-item:not(:last-child) {
  padding-right: 30px;
}

.title {
  font-family: 'Caveat', cursive;
  font-size: 70px;
  color: rgb(247, 77, 128);
}

.ttl-span {
  color: rgb(70, 151, 175);
}

.sub {
  color: rgb(247, 77, 128);
  font-weight: bold;
}

.sub2 {
  color: gray;
  font-size: 13px;
}

.sub-span {
  color: rgb(70, 151, 175);
  font-weight: bold;
}


.top {
  position: relative;
}

.top-img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.word {
  position: absolute;
  top: 7%;
  left: 25%;
}

.ttl {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  color: rgb(247, 77, 128);
}

.box {
  display: flex;
}

.new-info {
  font-size: 25px;
  color: gray;
  border-bottom: solid 2px;
}

.news-list {
  list-style: none;
  border-bottom: solid 1px;
  color: grey;
  line-height: 40px;
}

.new {
  width: 50%;
  border-bottom: solid 2px;
  color: grey;
}

.news-list-span {
  padding: 3px 15px;
  color: white;
  background: rgb(163, 34, 72);
  border-radius: 30px;
  margin: 0 10px;
}

.about {
  color: grey;
  background: rgb(240, 239, 239);
  padding: 3% 20%;
  margin: 70px 40px;
  justify-content: space-around;
}

.about-ttl {
  text-align: center;
}

.about-img img {
  width: 100%;
  padding-left: 20%;
}

.about-img {
  width: 40%;
}

.about-text {
  font-size: 15px;
  width: 40%;
  padding-right: 20%;
}

.service {
  margin: 0 20%;
}

.ttl-service {
  color: grey;
}

.grid {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 2fr 2fr;
  color: white;
}

.box-ttl {
  text-align: center;
}

.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: rgb(184, 100, 125);
}

.box2 {
  grid-column: 2/4;
  grid-row: 1/2;
  background: rgb(128, 90, 119);
  display: flex;
}

.box3 {
  grid-column: 2/4;
  grid-row: 2/3;
  background: rgb(176, 133, 180);
  display: flex;
}

.box-img {
  width: 30%;
  display: block;
  padding: 20px 125px;
}

.box-img2 {
  width: 30%;
  display: block;
  padding-top: 15px ;
  padding-left: 10px;
}

.box-item {
  text-align: center;
  font-size: 15px;
}

.box-text {
  text-align: center;
  font-size: 12px;
  padding: 5px 40px;
}

.box-text2 {
  text-align: center;
  font-size: 12px;
  padding: 5px 15px;
}

.blog {
  background: rgb(236, 236, 236);
  padding-top: 2%;
  margin-top: 100px;
  color: gray;
}

.blog-contents {
  display: flex;
  justify-content: space-between;
}

.blog-card {
  width: 25%;
  background: white;
  justify-content: space-between;
  border-radius: 30px;
}

.blog-img img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.blog-item {
  padding: 15px 25px;
}

.blog-ttl {
  font-size: 12px;
  margin: 5% 10%;
  font-weight: 400;
}

.blog-cat {
  padding: 5px 10px;
  background: rgb(184, 100, 125);
  display: inline-block;
  color: white;
  font-size: 14px;
  border-radius: 30px;
}

.tag {
  font-size: 14px;
  text-align: right;
  color: gray;
}

.date {
  display: inline-block;
}

.blog-tag {
  display: inline-block;
  margin-left: 20px;
}

.btn {
  width: 150px;
  height: 50px;
  color: rgb(184, 100, 125);
  background: white;
  margin: 30px auto;
  border-radius: 30px;
  border: 1px solid rgb(184, 100, 125);
}

.btn-1 {
  text-align: center;
}

.table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

.table th {
  border: solid 1px grey;
  background: rgb(240, 240, 240);
}